@charset "UTF-8";
/*font-family: 'Noto Sans KR', sans-serif;(100,300,400,500,700,900)*/
body{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none; margin: 0; padding: 0;}
span,label,main{display: block;}
/****************************************/

.banner_box{width: 1200px; height: 500px; margin: 0 auto; position: relative;}
.b_banners{width: 1200px; height: inherit; position: relative;}
.b_banners>li{width: 1200px; height: 500px; position: absolute;}
.b_banners>li:first-child{z-index: 5;}
.b_left , .b_right{width: 60px; height: 60px; position: absolute; top: 50%; margin-top: -30px; }
.b_left{left:0; z-index: 15;}
.b_right{right: 0; z-index: 15;}
.b_disc{width: 100%; height: auto; position: absolute; z-index: 15; text-align: center; bottom: 15px;}
.b_disc>li{display: inline-block; width: 15px; height: 15px; border-radius: 100%; background-color: gainsboro;
z-index: 15;}
.b_disc>li:first-child{background-color:  red;}