@charset "utf-8";
*{font-family: 'Noto Sans KR'}
ul, ol{list-style: none;margin: 0;padding: 0;}
span, label{display: block;}
.clear{clear: both;}

.bottombox{width: 1200px; height: auto; margin: 0 auto;}
.bt_olcss{width: 1200px;height:55px; line-height: 55px; display: flex; flex-wrap: nowrap;}
.bt_olcss > li:nth-of-type(1){width: 100px; height: 55px;}
.bt_olcss > li:nth-of-type(2){width: 620px; height: 55px; margin-right: 180px;position: relative; overflow: hidden;}
.bt_olcss > li:nth-of-type(2) >ul{width: inherit;height: auto; color: #9F9F9F;position: absolute;}
.bt_olcss > li:nth-of-type(2) >ul >li{width: 620px; height: 55px; color: #9F9F9F;}

.bt_olcss > li:nth-of-type(3), .bt_olcss > li:nth-of-type(4){width: 150px; height: 55px; margin-left: 5px;}
select.bt_se{width: 150px; height: 55px;}

.bt_se{width: 170px;height: 35px;}
.bt_ulcss{width: 1200px; height: 100px; background-color: #cccccc; font-size: 12px;display: flex; flex-wrap: wrap; align-content: center; justify-content: center;}
