@charset "UTF-8";

/*font-family: 'Noto Sans KR', sans-serif;(100,300,400,500,700,900)*/
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

span,
label,
main {
    display: block;
}

/*********************************/
.contents_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

.ad_part {
    width: 1200px;
    height: 100px;
    margin: 20px 0;
}

.ad_part>img {
    width: 1200px;
    height: 100px;
}

.newContents {
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newContents>span:first-of-type {
    font-weight: bold;
    font-size: 20px;
}

.newContents>span:last-of-type {
    width: 100px;
    height: 37px;
    cursor: pointer;
}

.contents_box {
    width: 1200px;
    height: 340px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.contents_box>label {
    text-align: center;
    margin: 35px auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mini {
    margin: auto 15px;
    width: 200px;
    height: 250px;
    cursor: pointer;
}