@charset "UTF-8";
/*font-family: 'Noto Sans KR', sans-serif;(100,300,400,500,700,900)*/
body{margin: 0; padding: 0; }
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none; margin: 0; padding: 0;}
span,label,main{display: block;}
/**********************************************************************/
.bodys{position: relative; overflow: hidden;}
.side_box{position: absolute; right: -200px;}
.ch{background-image: url("./logo_channel.png"); width: 200px; height: 946px; background-color: #303030;}
.ch>li{width: 200px; height: 35px;}

.chanel{width: 90px; height: 35px; transform: rotate(270deg);background-color: #303030; font-family: 'Noto Sans KR';
font-weight: 700; text-align: center; line-height: 35px; color: #fff; position: absolute; left: -62px; top: 45px; }