@charset "UTF-8";
/*font-family: 'Noto Sans KR', sans-serif;(100,300,400,500,700,900)*/
*{box-sizing: border-box; margin: 0; padding: 0;}
body{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none; margin: 0; padding: 0;}
span,label,main{display: block;}
img{width: 100%; object-fit: cover;}
/********************************************/
.video_box{width: 1200px; height: auto; margin: 0 auto;}
.v_video{width: 1200px; height: 130px; margin-top: 10px;}
.v_movies{width: 1200px; height: 130px;}
.v_movies>li{float: left; width: 210px; height: 130px; position: relative;}
.v_movies>li>img{position: absolute;}
.v_movies>li>span{position: absolute; width: 210px; height: 40px; background-color:rgba(0, 0, 0, 0.7);
font-size: 14px; text-align: center; color: #fff; line-height: 40px; bottom: 0; display: none;}
.v_movies >.v_main{width: 150px; height: 130px; font-family: 'Noto Sans KR';font-weight:400;}

.v_movie{width: 890px; height: 450px; margin-right: 30px;}

.v_title{width: 890px; height: 40px; font-size: 20px;font-family: 'Noto Sans KR';font-weight:700;
position: relative;}
.v_title>p{position: absolute; left: 0; width: 300px; height: inherit; line-height: 40px;}
.v_title>img{position: absolute; right: 0; width: 100px; height: inherit;}
.v_movie_box{width: 890px; height: 410px; border: 1px solid #ccc; border-radius: 5px;
}

.v_sum{width: inherit; height: inherit;margin: 20px 15px 20px 15px;}
.v_sum>li{width: 200px; height: 170px; float: left; margin-right: 20px; margin-bottom: 20px;}
.v_mainbox{width: 1200px; height:450px; margin-top: 35px;}
.v_banner{width:280px ;height: 450px;}
.v_mainbox>div{float: left;}