@charset "UTF-8";
@media screen and (min-width: 340px) and(max-width:420px){
    .outline { 
        min-width:90%; 
    // width, max-width, min-width : 3가지 모두 미디어쿼리와 연결시 PC에서 사용된 
    // 동일한 속성을 코드는 사용하지 못합니다.
    }
}
@mixin  base {
    margin: 0; 
    padding: 0; 
    line-height: 1; 
    box-sizing: border-box;
}
@mixin  object($w,$h,$color) {
    width: $w;
    height: $h;
    background-color: $color;
}

body{
    @include base;
}
header{
    @include object(99.99%, 60px, black );
}
section{
    @include object(99.99%, auto , greenyellow );
    &>.product{
        @include object(99.99%,auto,"");
        padding-top: 20px; 
        box-sizing: border-box;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly; 
        align-items: center;       
        // space-evenly(모바일), IE, Edge(X)
        // align-content: center;
        //wrap을 사용하면 flex-direction: row;을 사용하지 않아야 내려간다
        //justify-content: space-evenly; 좌우폭이 넓고 가운데 폭이 좁다
        //justify-cotent: space-around;좌우폭이 좁고 가운데 폭이넓다
    }
}

.outline{
    background-color: pink; 
    width: 200px; 
    height: 420px;
    display: block; 
    margin-bottom: 20px;
    //min-width,width 로 정렬 ,width,max-width로 정렬
}
footer{
    @include object(99.99%, 60px, black );
}