@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
$ng:'Nanum Gothic',
sans-serif;

@mixin base {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    box-sizing: border-box;
}

@mixin outline($width, $height, $display) {
    //mixin에는 값을 던져서 처리한후 return 형태 css를 적용할 수 있습니다.
    width: $width;
    height: $height;
    border: 1px solid red;
    box-sizing: border-box;
    display: $display;
    //display:flex  
    //display:inline-flex   : inline-block과 같은 성향 부모가 가로로 정렬됨

    @if($display==flex) {
        //flex라는 인자값을 보낼 경우 해당 {}안에 있는 css를 적용함
        //flex-flow:row,nowrap; //flex-wrap, flex-direction을 함께 사용할 경우 
        flex-wrap: nowrap; //wrap: 자동으로 부모사이즈에 맞춰서 자식이 줄바꿈을 하는 형태
        flex-direction: row;
        justify-content: space-between; //가로기준
        align-items: center; //세로기준 한 줄일 경우
        //align-content: center;  //세로기준 한줄 이상일 경우
        //flex : container, items
    }

    @else {
        //flex외에 인자값이 들어올 경우 해당 css가 적용됨
        position: relative;
    }
}

@mixin popups {
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 99.99%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9000px rgba(0, 0, 0, 0.5);
    display: none;
}

body {
    @include base;
    font-family: $ng;
}

.top {
    @include outline(99.99%, 40px, flex);

    &>label {
        height: 35px;
        display: block;

        &:nth-of-type(1),
        &:nth-of-type(3) {
            width: 35px;
            background-color: red;
        }

        &:nth-of-type(2) {
            width: 180px;
            background-color: blue;
        }
    }
}

.main {
    @include outline(99.99%, 500px, block);
}

.bottom {
    @include outline(99.99%, 100px, block);
}

.popup {
    @include popups;
}

@mixin closebtn($left, $top, $size) {
    position: relative;
    width: $size;
    height: $size;
    left: $left;
    top: $top;
    overflow: hidden;
    display: block;
}

img {
    width: 100%;
    object-fit: cover;
}

.popico {
    @include closebtn(85%, 8%, 40px);
}