@charset "UTF-8";
@mixin base {
  margin: 0;
  padding: 0;
  line-height: 0;
}
@mixin objectsize($w, $h, $display) {
  width: $w;
  height: $h;
  display: $display;
}
img {
  object-fit: contain;
  position: absolute;
  left: -10px;
}
.product {
  @include objectsize(100%, 500px, block);
  & > .product_list {
    @include objectsize(300px, 500px, block);
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    & > .product_label {
      @include objectsize(inherit, inherit, block);
      position: relative;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
    }
    & > .product_label > .product_view {
      position: absolute;
      @include objectsize(inherit, 400px, block);
      & > .product_img {
        @include objectsize(300px, 400px, block);
      }
    }
    & > .product_label > .product_view:nth-of-type(2) {
      transform: rotateY(180deg);
    }
  }
  .product_list:hover .product_label {
    transform: rotateY(180deg);
  }
  .product_money {
    position: absolute;
    bottom: 0;
    @include objectsize(inherit, 100px, block);
  }
}
%ulli {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ulcss {
  @extend %ulli;
  @include objectsize(inherit, auto, block);
}
.ulcss > li {
  @include objectsize(inherit, 50px, block);
  text-align: center;
  line-height: 50px;
}

.blackscreen {
  @include objectsize(inherit, inherit, flex);
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  @include objectsize(100px, 40px, block);
  border: 1px solid white;
  background-color: black;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.views {
  backface-visibility: hidden;
}
