@charset "UTF-8";
@mixin base {
  margin: 0;
  padding: 0;
  // line-height: 0;
}
@mixin objectsize($w, $h, $display, $position) {
  width: $w;
  height: $h;
  display: $display;
  position: $position;
}
body {
  @include base;
}
.maincss {
  display: grid; //flex 처럼 justify, align모두 다 사용이 됨. 단, IE에는 절대 작동안됨
  justify-content: center;
  align-content: center;
  /*   IE에서도 grid를 사용하여 표준화를 맞추실려면 다음과 같은 코드를 이용 해야함.
    position: absolute;
    height: 800px;
    left: 50%;
    margin-left:-600px;
    */
  grid-template-rows: repeat(3, 200px); //가로형의 구조형 (가로파트,높이값)
  grid-template-columns: repeat(3, 400px); //세로형의 구조형 (세로파트,묶음 단위)
  grid-template-areas:    //템플릿 구성하는 형태
    "h h h" //1라인
    "s s a" //2라인
    "f f f"; //3라인
  & > header {
    grid-area: h; //grid 템플릿에 대한 닉네임
    background-color: blue;
    display: block;
  }
  & > section {
    grid-area: s;
    background-color: greenyellow;
    display: block;
  }
  & > aside {
    grid-area: a;
    background-color: pink;
    display: block;
  }
  & > footer {
    grid-area: f;
    background-color: black;
    display: block;
  }
}
