// @charset "UTF-8";

// @mixin base {
//     margin: 0 auto;
//     padding: 0;
//     list-style: none;
//     box-sizing: border-box;
// }

// @mixin listyle($bgcolor, $w, $h) {
//     background-color: $bgcolor;
//     width: $w;
//     height: $h;
//     line-height: $h;
// }

// .ulcss {
//     @include base;

//     &>li {

//         @include listyle(darkblue, 25px, 25px);
//         cursor: pointer;
//         text-align: center;
//         display: inline-block;
//         font-size: 12px;
//         color: white;

//         &:hover {
//             @include listyle(red, 25px, 25px);
//         }
//     }
// }

@charset "UTF-8";

@mixin base {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

@mixin ul_base($part, $w, $h) {
    @if($part==col) {
        list-style: none;
        margin: 0;
        padding: 0;
        width: $w;
        height: auto;
    }

    @else {
        list-style: none;
        margin: 0;
        padding: 0;
        width: $w;
        height: $h;
    }
}

@mixin object($w, $h, $color) {
    width: $w;
    height: $h;
    line-height: $h;
    background-color: $color;
}

@mixin fonts($f, $s, $w) {
    font-family: $f;
    font-size: $s;
    font-weight: $w;
}

body {
    @include base;
}

.ulcss {
    @include ul_base(row, 100%, 30px);

    &>li {
        @include object(25px, 25px, darkblue);
        display: inline-block;
        color: white;
        text-align: center;
        @include fonts("돋움", 12px, normal);

        &:hover {
            background-color: red;
        }
    }
}

$bgcolor:rgb(146, 15, 163),
rgb(255, 30, 44),
rgb(17, 69, 112),
rgb(78, 88, 98),
rgb(255, 255, 74);

$i:1; //반복문 초기값

@while($i<=5) {

    //반복문 종료범위
    .ulcss>li:nth-of-type(#{$i}) {
        background-color: nth($bgcolor, $i);
    }

    $i:$i+1; //+1씩 증가
}