@charset "UTF-8";
// olmix, limix 이름은 맘대로
// @mixin: base 스타일을 제작합니다.(엔진) 필요한 부분에 바로 적용할 수 있는 scss 명령어를 말합니다.

$width:300px;
$height:30px;

@mixin olmix{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
}
@mixin limix2{
    display: block;
    width: $width;
    height: inherit;
    float: left;
}
@mixin limix{
    display: inline-block;
    width: $width;
    height: inherit;
}
@mixin rounds{
    border: 1px solid #ccc;
    border-radius: 3px;
}
.m {
    width: 250px;
    height: 30px;
    @include rounds;    
    // @include : mixin을 로드할 때 사용하는 명령어
}
.btn{
    background-color: hotpink;
    color: white;
    height: 32px;
    cursor: pointer;
}

.olcss{
    @include olmix;
    & > li {
        @include limix;    
        &:nth-of-type(1){
            width: ($width)-150;    
            //변수에서 사칙연산을 사용하기 위해서 ()를 사용하셔야 합니다.
        }
    }
}