@charset "UTF-8";

@mixin base {
  margin: 0;
  padding: 0;
}
@mixin objectsize($w, $h) {
  width: $w;
  height: $h;
}
body {
  @include base;
  width: 100%;
  height: auto;
}
span,
label,
u {
  display: block;
}
.section {
  @include objectsize(800px, auto);
  margin: 0 auto;
  & > u {
    @include objectsize(100%, 30px);
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
}
.join {
  @include objectsize(inherit, 30px);
  & > label:first-of-type {
    @include objectsize(150px, 30px);
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
    & > .allCheck {
      margin-right: 20px;
      width: 16px;
      height: 16px;
    }
  }
  & > .title {
    @include objectsize(inherit, 30px);
  }
  & > .agreeText {
    @include objectsize(inherit, 250px);
    overflow-y: scroll;
  }
  & > .abox {
    @include objectsize(inherit, 30px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 30px;
    cursor: pointer;
    & > .agreeBox {
      width: 16px;
      height: 16px;
      margin-right: 20px;
    }
  }
  & > div:last-of-type {
    @include objectsize(inherit, auto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > label {
      display: flex;
      width: 200px;
      height: 20px;
      margin-bottom: 5px;
      align-items: center;
      cursor: pointer;
    }
    & > label > input {
      width: 16px;
      height: 16px;
      margin: 0 10px 0 20px;
    }
  }
}
.btnBox {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  & > #btn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: turquoise;
    padding: 0;
    cursor: pointer;
  }
}
#block {
  color: red;
  margin-left: 10px;
}
