@charset "UTF-8";
/*font-family: 'Noto Sans KR', sans-serif;(100,300,400,500,700,900)*/
body{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none; margin: 0; padding: 0;}
span,label,main{display: block;}
/**********************************************************************/
.sidemenu_box{width: 200px; height: 946px; position: relative; left:100%;}
.ch{width: 200px; height: inherit; position: relative;background-image: url("./logo_channel.png"); background-color: #303030;}
.side{width: 90px; height: 35px; background-color: #303030; transform: rotate(90deg); color: #fff; 
    font-family: 'Noto Sans KR';font-weight: 700; text-align: center; line-height: 35px; position: absolute;
    left: -62px; top: 28px;
}
.ch>li{width: 200px; height: 35px;}