@charset "UTF-8";

@mixin base {
  margin: 0;
  padding: 0;
  line-height: 0;
  //img 태그 object-fit를 사용시 border에 대한 1px 틈을 정확하게 맞춰줍니다.
  list-style: none;
  box-sizing: border-box;
}
@mixin object($w, $h) {
  width: $w;
  height: $h;
}

body {
  @include base;
}
span,
label {
  display: block;
}
header {
  @include object(99.99%, 40px);
  line-height: 40px;
  text-align: center;
}
header > u {
  font-size: 30px;
}
section {
  height: auto;
  width: 100%;
  margin: 40px 0;
}
input {
  @include object(100%, 100%);
  padding: 0;
  margin: 0;
  text-indent: 10px;
}

.btn {
  @include object(90%, 40px);
  margin: 0 auto;
  & > input {
    background-color: lightblue;
    color: gray;
    outline: none;
    border: none;
    font-size: 20px;
    text-indent: 0;
  }
}

.wrapper {
  @include object(90%, auto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.textBox {
  @include object(100px, 30px);
  background-color: lightblue;
  color: gray;
  line-height: 30px;
  margin-bottom: 10px;
}
.inputBox {
  @include object(99.99%, 80px);
  text-align: center;
  line-height: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
#email > span:last-child {
  @include object(100%, 40px);
  display: inline-flex;
  text-align: center;
  align-items: center;
  font-size: 20px;
  & > input,
  & > .emailLabel {
    @include object(50%, 100%);
    & > #emailSel {
      @include object(100%, 100%);
    }
  }
}
.pTextBox {
  @include object(99.99%, 30px);
  display: flex;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}
.pTextBox > span {
  @include object(100px, 30px);
  &:first-child {
    background-color: lightblue;
    color: gray;
  }
  & > select {
    @include object(100px, 30px);
    margin-left: 10px;
  }
}
#phone > span:last-child > input {
  @include object(99.99%, 40px);
}

@media screen and (min-width: 200px) and (max-width: 340px) {
  section {
    font-size: 12px;
  }
  header > u,
  .btn > input {
    font-size: 15px;
  }
}
