@charset "UTF-8";
@mixin base {
  margin: 0;
  padding: 0;
  line-height: 0;
}
@mixin objectsize($w, $h, $display) {
  width: $w;
  height: $h;
  display: $display;
}
@mixin trans($times) {
  transition: all unquote(($times/2) + "s") ease;
}
.box {
  @include objectsize(400px, 400px, flex);
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  &:hover > span {
    left: 375px;
    transform: rotate(360deg);
  }
  & > span {
    @include objectsize(25px, 25px, block);
    position: relative;
  }
}

$color: orange, purple, green, yellow, blue;

$i: 0;
@while ($i<5) {
  .c#{$i} {
    background-color: nth($color, $i + 1);
    @include trans($i + 1);
    left: 0;
  }
  $i: $i + 1;
}
