@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
$font_ng: "Nanum Gothic", sans-serif;

@mixin base {
  margin: 0;
  padding: 0;
}
@mixin objectsize($w, $h, $display) {
  width: $w;
  height: $h;
  display: $display;
}

@mixin flex($fd, $fw, $ai, $js) {
  flex-direction: $fd;
  flex-wrap: $fw;
  align-items: $ai;
  justify-content: $js;
}

* {
  box-sizing: border-box;
  @include base;
  font-size: 13px;
  font-family: $font_ng;
}

.jp_t {
  border: 0;
  height: 40px;
  width: calc(100% - 100px);
}

.jp_t:focus {
  outline: none;
}

body {
  @include base;
  background-color: #eee;
}

.join_wrap {
  @include objectsize(480px, auto, block);
  margin: 40px auto;
  text-align: center;
  padding: 30px;
  background-color: #fff;

  & > h2 {
    @include objectsize(100%, auto, block);
    font-size: 20px;
    margin-bottom: 20px;
  }

  & > section {
    @include objectsize(100%, auto, block);
    margin: 10px 0 40px;

    & > p.tit {
      font-size: 16px;
      text-align: left;
      font-weight: 600;
      margin-bottom: 10px;
    }

    & > .chkbox_wrap {
      @include objectsize(100%, auto, flex);
      @include flex(row, nowrap, center, space-between);
      box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.08);
      padding: 10px 20px;
      border-radius: 10px;
    }

    & .policy {
      @include objectsize(100%, 140px, block);
      overflow-y: scroll;
      text-align: left;
      padding: 10px 20px;
      font-size: 12px;
      color: #999;
      line-height: 1.3;
    }

    & > .join_ip_row {
      @include objectsize(100%, auto, flex);
      @include flex(row, nowrap, center, space-between);
      border: 1px solid #eee;
      border-radius: 10px;
      margin-bottom: 10px;
      position: relative;

      & > .jp_tit {
        width: 100px;
        text-align: left;
        text-indent: 10px;
      }

      & .btn_idchk {
        width: 100px;
        height: 40px;
        position: absolute;
        right: 0;
        background-color: #fff;
        border: 0;
        border-left: 1px solid #eee;
        color: #666;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
      }
    }
  }

  & > section.join.sec2 {
    & .chkbox_wrap {
      justify-content: flex-end;
    }
  }

  & > section.join.sec3 {
    & .chkbox_wrap {
      margin-bottom: 10px;
    }
    & .chkbox_wrap:last-child {
      margin-bottom: 0;
    }
  }

  & > .btn_wrap {
    @include objectsize(100%, auto, flex);
    @include flex(row, nowrap, center, center);

    & .btn_join {
      width: 140px;
      height: 50px;
      background-color: black;
      border: 0;
      color: #fff;
      cursor: pointer;
      position: relative;
    }
  }
}
