@charset "UTF-8";
$a:red;
$b:blue;
$c:150px;
$d:inline-block;
$lis : 30px;
$font1 : white;
// $ 변수는 scss 코드에서 아무곳에서 사용해도 css에 모두 적용 됨 (사용하는 곳 보다 위)
.box {
    list-style:none;
    margin: 0;
    padding: 0;
    height: $c;
    & > li{ // & 추가 속성에 대한 코드를 넣을 경우 사용
        width: $lis;
        height: $lis;
        display: $d;
        background-color: $b;
    }
    & > li:nth-child(even){
        color: $font1;
    }
    & > li:nth-child(4){
        background-color: $a;
    }
}
$box1:100px;
$box2:100px;
$boxsize: $box1 + $box2;

.bbox {
    width: $box1 + $box2;
    height: $box2;
    border: 1px solid red;
}