@charset "UTF-8";
$w : 300px;
$w2 : 500px;
$color1 : pink;
$color2 : green;

.box1{
    width: $w;
    height: 50px;
    @if($w < 400){ // 조건문이며 변수값과 비교하여 적용할 css 부분을 작성함 
        // 단, 변수의 단위에 맞춰서 ()안에 값도 동일하게 적용되어 집니다.
        background-color: $color1;
    }
    @else{
        background-color: $color2;
    }
}
.box2{
    width: $w2;
    height: 50px;
    @if($w2 < 400){
        background-color: $color1;
    }
    @else{
        background-color: $color2;
    }
}


$li_color1:black;
$li_color2:green;
$li_color3:blue;
$li_color4:red;
$none:none;
$not:0;
.olcss{
    list-style: $none;
    margin: $not;
    padding: $not;
    width: 200px;
    height: 30px;
    & > li{
        float: left;
        $width : 200px / 5px; 

        // 계산수식연산 사용할때 주의 할점
        // 현재는 200px /10 적용되며, 200 / 10px 컴파일 오류가 발생함 (프로그램 버그)
        // 또는 200 / 10 적용됨 단, 해당 값은 숫자만 적용하므로 아래에 + px 단위를 붙여 주어야함

        width: $width + px;
        $height: 200px / 10;
        height: $height;
        background-color: $li_color1;
        @if($width > 20 or $width < 50){ // @if, @else if, @else
            &:nth-of-type(2){ // nth-of-type, :nth-child 사용시 &기호를 사용하고 바로 적용함
                background-color: $li_color2;
            }
            &:nth-of-type(3){
                background-color: $li_color3;
            }
        }
        @else if($width > 50){
            &:nth-of-type(2){
                background-color: $li_color4;
            }
            &:nth-of-type(3){
                background-color: $li_color4;
            }
        }
        @else{
            background-color: $li_color4;
        }
    }
}

/* 응용문제 
    span의 크기는 250 * 250이며 모든 사이즈는 변수로 제작합니다.
    250 * 250 일 경우 배경색이 green이며,
    100 * 250 일 경우 배경색은 orange가 되도록 조건문으로 css를 제작하시오 
*/

$span_width:100px;
$span_height:250px;
$span_bk1:green;
$span_bk2:orange;
.spanbox { 
    display: block;
    width:$span_width;
    height:$span_height;
    @if($span_width == 250){
        background-color: $span_bk1;
    }
    @else if($span_width == 100){
        background-color: $span_bk2;
    }
    @else{
        border:1px solid $span_bk2;
    }
}