@charset "UTF-8";
@mixin base {
  margin: 0;
  padding: 0;
  // line-height: 0;
}
@mixin objectsize($w, $h, $display, $position) {
  width: $w;
  height: $h;
  display: $display;
  position: $position;
}
body {
  @include base;
}
.divbox {
  @include objectsize(100px, 100px, block, relative);
  transition: 2s all ease;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg);
  //rotateX (상하 눈높이 각도 ) rotateY (좌우 형태의 각도)
  margin: 0 auto;
  top: 300px;
  &:hover {
    transform: rotateX(90deg) rotateY(45deg);
  }
  & > label {
    width: 100px;
    height: 100px;
  }
}
.top {
  background-color: blue;
  transform: rotateX(-90deg) translate3d(0, 0, -50px);
  //translate3d(x,y,z)
  display: block;
  position: absolute;
}
.front {
  background-color: green;
  transform: translate3d(0, 0, -50px);
  display: block;
  position: absolute;
}
.right {
  background-color: pink;
  transform: rotateY(-90deg) translate3d(0, 0, -50px);
  display: block;
  position: absolute;
}
