.banner {
    width: 1000px;
    height: 490px;
    border: 1px solid black;
    position: relative;
}

.banner>ol {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 3000px;
    height: 490px;
    position: relative;
}

.ol_bn>li {
    width: 1000px;
    height: 490px;
    float: left;
}

.ul_bn {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    bottom: 50px;
}

.ul_bn>li {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: black;
    display: inline-block;
    margin-right: 5px;
}

.ul_bn>li:nth-child(1) {
    background-color: red;
}