@charset "UTF-8";

.member,
.qa,
.point {
    width: 1200px;
    margin: 0 auto;
}

.qa {
    margin-bottom: 38px;
}

.asideTitle {
    font-weight: bold;
}

.memberState,
.questionState,
.pointState {
    margin-bottom: 20px;
}

.memberBoard,
.questionBoard,
.pointBoard {
    width: 100%;
    border-spacing: 0;
    box-sizing: content-box;
    border-collapse: collapse;
}

.memberBoard tr td,
.questionBoard tr td,
.pointBoard tr td {
    text-align: center;
    border: 0.5px solid black;
    height: 35px;
}

.none {
    color: rgb(90, 90, 90);
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 28px;
}

.seeTotalMembers,
.seeTotalPoints {
    border: 1px solid steelblue;
    background-color: steelblue;
    width: 120px;
    color: white;
}

#qListTitle,
#pListContents {
    text-align: left;
    padding-left: 8px;
}