.menuTop {
    width: 100%;
    height: 70px;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: white;
}

.menuTop>ul>li {
    display: inline-block;
    padding: 0 8px 0 6px;
    border-right: 1.5px solid black;
    cursor: pointer;
}

.menuTop>ul>li:last-child {
    border: none;
    padding-right: 0;
}


.menu {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: rgb(90, 90, 90);

}

.menuUl {
    max-width: 1200px;
    min-width: 800px;
    height: inherit;
}

.menuUl>li {
    min-width: 120px;
    max-width: 180px;
    height: inherit;
    line-height: 30px;
    border-right: 1px solid black;
    float: left;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-align: center;
} 
