* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    height: 630px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.product {
    width: 230px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 8px;
}

.product>div {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 100px;
    height: 30px;
    position: relative;
    border: 1px solid black;
    display: block;
    top: 35px;
    right: 57px;
}

.product>img {
    width: 230px;
    height: 330px;
}

.proName,
.explanation {
    height: 60px;
    border: 1px solid red;
}

.explanation {}

.price,
.sale,
.percent {
    height: 40px;
    border: 1px solid red;
}