<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue if(true, false)</title>
  </head>
  <body>
    <section id="box">
      <input v-bind:type="btn" v-model="vBtn" v-on:click="ccc" name="" />
      <span v-if="tf">{{msg}}</span>
      <span v-else>{{msg2}}</span>
      <!-- v-else : 값 넣지 않음 -->
      <span v-if="tt">{{msg3}}</span>
      <!-- v-if : 조건부 랜더링 기본은 true, false가 있다. 
      다르게도 쓸 수 있음 v-if, v-else, v-else-if 다 있음! -->
    </section>
  </body>
  <script>
    let a = new Vue({
      el: "#box",
      data: {
        btn: "button",
        vBtn: "확인",
        msg: "메세지 출력 부분",
        tf: false,
        tt: true,
      },
      methods: {
        ccc: function () {
          if (this.tf == false) {
            this.tf = true;
          } else {
            this.tf = false;
          }
        },
      },
    });
  </script>
</html>
