<article class="wrapper" id="product_list">
  <div class="title">
    <ul>
      <li>상품관리 리스트</li>
    </ul>
  </div>
  <aside class="subTitle product_subTitle">
    <form id="sform" name="sform" method="GET" action="admin_member.html" onsubmit="return search()" enctype="application/x-www-form-urlencoded" class="search_form">
      <input type="text" id="stext" name="stext" placeholder="검색할 단어를 입력하세요." />
      <input type="submit" class="product_idSearchBtn" value="검색" />
    </form>
  </aside>
  <table class="table product_table">
    <thead class="product_thead">
      <tr>
        <td>NO</td>
        <td>상품코드</td>
        <td>상품명</td>
        <td>상품가격</td>
        <td>할인가격</td>
        <td>대표이미지</td>
        <td>출력 유/무</td>
      </tr>
    </thead>
    <form id="productForm" name="pfrm" enctype="application/x-www-form-urlencoded">
      <tbody class="product_tbody" id="product_tbody">
        <tr class="list">
          <td>1</td>
          <td id="tdCode">코드</td>
          <td class="tdName">상품이름</td>
          <td>상품가</td>
          <td>할인</td>
          <td><img src="#" /></td>
          <td class="">Y</td>
        </tr>
        <tr class="list_none">
          <td colspan="7">등록된 상품이 없습니다.</td>
        </tr>
      </tbody>
    </form>
  </table>
  <button id="productSave" onclick="productInput()">상품등록</button>
</article>
<script src="./js/productList.js?v=<?=$v?>"></script>
<!-- v-for=" j in bannerArr" -->
<!-- v-if="bool == true" -->
<!-- v-if="bool == false" -->
