@charset "UTF-8";
@import "./resetstyle.scss";

.banner_subTitle {
  & > label {
    @include size(inherit, inherit, 28px);
    &:nth-of-type(1) {
      margin-right: 20px;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-right: 20px;
      & > input[type="radio"] {
        margin-right: 10px;
      }
    }
    &:nth-of-type(4) {
      & > input[type="button"] {
        @include size(80px, 27px, "$h");
        @include button(#708c84, white, 5px, inherit);
        box-sizing: border-box;
        font-size: 90%;
      }
    }
  }
}

.banner_thead {
  & > tr {
    @include size(inherit, 30px, "");
    & > td {
      @include size(auto, inherit, "");
      @include button(#a6a6a6, white, 0px, initial);
      font: {
        size: 115%;
        weight: 400;
      }
      border-right: 1px solid white;
      &:last-of-type {
        border-right: none;
      }
    }
  }
}
.banner_tbody {
  height: auto;
  & > tr {
    @include size(inherit, 50px, "$h");
    & > td {
      border: 1px solid #a6a6a6;
      & > img {
        @include size(263px, 100px, "");
        border: none;
        object-fit: contain;
      }
    }
    & > .tdLink {
      width: 250px;
      & > .link {
        @include size(inherit, 35px, "");
        & > input[type="text"] {
          @include size(90%, 30px !important, "");
          text-indent: 5px;
        }
      }
    }
    & > .optionBtn {
      & > input {
        @include size(40px, 25px, "$h");
        @include button(#708c96, white, 5px, middle);
        &:nth-of-type(2) {
          background-color: #707884;
        }
      }
    }
  }
}

#bannerSave {
  @include size(100px, 30px, "");
  @include button(#708c84, white, 5px, top);
  box-sizing: border-box;
}

// 배너 등록 파트

.inputBannerTable {
  margin-top: 20px;
  & > .inputBannerTbody {
    & > tr {
      height: 40px;
      & > td:nth-of-type(1) {
        @include size(150px !important, 40px, "");
        text: {
          align: left;
          indent: 10px;
        }
        font-size: 100%;
      }
      & > td:nth-of-type(2) {
        text-align: left;
      }
      & > td > input {
        height: 28px;
        text-indent: 5px;
        margin-left: 10px;
      }
      &:nth-of-type(1) {
        & > td:nth-of-type(2) {
          & > input {
            width: 40%;
          }
        }
      }
      &:nth-of-type(2) {
        & > td:nth-of-type(2) {
          & > input {
            width: 80%;
          }
        }
      }
      &:nth-of-type(3) {
        font-size: 100%;
        & > td:nth-of-type(2) {
          line-height: 40px;
          & > input {
            &:nth-of-type(1) {
              width: 30%;
            }
            &:nth-of-type(2) {
              width: 100px;
              @include button(rgb(112, 120, 132), white, 5px, inherit);
              margin-right: 20px;
            }
          }
          & > span {
            font-size: 70%;
            color: red;
          }
        }
      }
    }
  }
}
.banner_input_btnBox {
  @include size(1200px, auto, "");
  display: block;
  text-align: right;
  padding: 15px 0;
  & > button {
    @include size(100px, 30px, "");
    @include button(rgb(112, 140, 132), white, 5px, "");
    font-size: 90%;
  }
}
