@charset "UTF-8";

.banner_wrapper {
  width: 1200px;
  height: auto;
  min-height: 730px;
  text-align: center;
  margin: 0 auto;
  .banner_title {
    width: 100%;
    font-size: 100%;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    & > ul {
      width: 1200px;
      height: auto;
      text-align: left;
      text-indent: 5px;
      & > li {
        display: inline-block;
      }
    }
  }
  .banner_subTitle {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
    text-align: left;
    margin-top: 10px;
    & > label {
      height: inherit;
      line-height: 28px;
      &:nth-of-type(1) {
        margin-right: 20px;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin-right: 20px;
        & > input[type="radio"] {
          margin-right: 10px;
        }
      }
      &:nth-of-type(4) {
        & > input[type="button"] {
          box-sizing: border-box;
          background-color: #708c84;
          border-radius: 3px;
          vertical-align: inherit;
          color: white;
          width: 80px;
          height: 27px;
          font-size: 90%;
        }
      }
    }
  }
}

.banner_table {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: auto;
  text-align: center;
  font-size: 100%;
  & > .banner_thead {
    & > tr {
      height: 30px;
      & > td {
        height: inherit;
        vertical-align: initial;
        font-size: 115%;
        font-weight: 400;
        border-right: 1px solid white;
        background-color: #a6a6a6;
        color: white;
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
  & > .banner_tbody {
    height: 50px;
    & > tr {
      & > td {
        border: 1px solid #a6a6a6;
        line-height: 26px;
        & > img {
          border: none;
          width: 80px;
          height: auto;
        }
      }
      & > .optionBtn {
        & > input {
          width: 40px;
          height: 25px;
          color: white;
          border-radius: 5px;
          vertical-align: middle;
          &:nth-of-type(1) {
            background-color: #708c96;
          }
          &:nth-of-type(2) {
            background-color: #707884;
          }
        }
      }
    }
  }
}
.list_none {
  display: none;
}
#bannerSave {
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  background-color: #708c84;
  border-radius: 3px;
  color: white;
  vertical-align: top;
}

/*배너 등록 파트*/

.inputBannerTable {
  margin-top: 20px;
  & > .inputBannerTbody {
    & > tr {
      height: 40px;
      & > td:nth-of-type(1) {
        width: 150px !important;
        text-align: left;
        text-indent: 10px;
        font-size: 100%;
      }
      & > td:nth-of-type(2) {
        text-align: left;
      }
      & > td > input {
        height: 25px;
        text-indent: 5px;
        margin-left: 10px;
      }
      &:nth-of-type(1) {
        & > td:nth-of-type(2) {
          & > input {
            width: 40%;
          }
        }
      }
      &:nth-of-type(2) {
        & > td:nth-of-type(2) {
          & > input {
            width: 90%;
          }
        }
      }
      &:nth-of-type(3) {
        font-size: 100%;
        & > td:nth-of-type(2) {
          line-height: 40px;
          & > input {
            &:nth-of-type(1) {
              width: 30%;
            }
            &:nth-of-type(2) {
              width: 100px;
              background-color: rgb(112, 120, 132);
              border-radius: 3px;
              color: white;
              vertical-align: inherit;
              margin-right: 20px;
            }
          }
          & > span {
            font-size: 70%;
            color: red;
          }
        }
      }
    }
  }
}

.banner_input_btnBox {
  width: 100%;
  height: 40px;
  line-height: 40px;
  & > input {
    height: 25px;
    width: 100px;
    border-radius: 3px;
    color: white;
    font-size: 90%;
    border: none;
    vertical-align: top;
    background-color: rgb(112, 140, 132);
    vertical-align: baseline;
    margin: 0 10px;
  }
}
