/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
/* font-family: 'Nanum Gothic', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

.titleContainer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.mainTitle {
  margin-left: 20px;
  font-weight: bold;
  font-size: calc(100% + 8px);
  width: 300px;
}

.mainImgBox {
  margin-right: 20px;
}

.mainImgBox > li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

img {
  width: 24px;
  height: 24px;
}

/* 폰트 크기 조정 부분 */
.font_view2 {
  font-size: 17px;
}

.font_view3 {
  font-size: 19px;
}
