@charset "UTF-8";

.member_article {
  width: 1200px;
  height: auto;
  min-height: 600px;
  text-align: center;
  margin: 0 auto;
}

/**** 전체목록 ****/
.member_article_title {
  width: 100%;
  font-size: 100%;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  background-color: rgb(242, 242, 242);
}
.member_article_title > ul {
  width: 1200px;
  height: auto;
  text-align: left;
  text-indent: 5px;
}
.member_article_title > ul > li {
  display: inline-block;
}

/**** 회원아이디 검색 ****/
.member_option {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
  text-align: left;
  margin-top: 10px;
}
.member_option > input,
.member_option > select {
  height: 25px;
  vertical-align: top;
}
.member_option > input:nth-of-type(1) {
  width: 200px;
  font-size: 90%;
}

/**** 테이블 상단 : 메모 ****/
.member_memo {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  font-size: 100%;
  text-indent: 20px;
  background-color: rgba(112, 140, 132, 0.15);
}

/**** 테이블 ****/
.member_table {
  width: 1200px;
  height: auto;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(166, 166, 166);
  margin-bottom: 10px;
}
.member_table tr {
  height: 35px;
  font-size: 90%;
}
.member_table th {
  font-size: 115%;
  font-weight: 400;
  background-color: rgb(166, 166, 166);
  color: white;
  border-right: 1px solid white;
}
.member_table tr:nth-child(2) th {
  line-height: 16px;
  padding: 5px;
}

/* 테이블 col 비율 */
.member_table tr:first-child th:nth-of-type(1) {
  width: 3%;
}
.member_table tr:first-child th:nth-of-type(2),
.member_table tr:first-child th:nth-of-type(3) {
  width: 12%;
}
.member_table tr:first-child th:nth-of-type(4) {
  width: 28%;
}
.member_table tr:first-child th:nth-of-type(5),
.member_table tr:first-child th:nth-of-type(6),
.member_table tr:first-child th:nth-of-type(7) {
  width: 10%;
}

/* 테이블 외곽선 */
.member_table td {
  border: 1px solid rgb(166, 166, 166);
}
.member_table tr:first-child th:nth-of-type(9) {
  border-right: 1px solid rgb(166, 166, 166);
}
.member_table tr:nth-child(2) th {
  border-top: 1px solid white;
}

/* 테이블 text 셋팅 */
.member_name,
.member_nick {
  text-align: left;
  text-indent: 10px;
}
.member_mailVerify {
  color: red;
}
.member_tableList > tr:first-child > td:nth-child(4) > label:first-child {
  margin-right: 30px;
}
.user_modify {
  cursor: pointer;
}
/**** 테이블 리스트 없음 ****/
/* .member_tableList {
   
} */
/* .member_tableNone {
  display: none;
}  */

/**** 페이지 번호 ****/
.member_page {
  height: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.member_page > li {
  width: 40px;
  height: inherit;
  line-height: 30px;
  text-align: center;
  font-size: 85%;
  background-color: rgb(242, 242, 242);
  padding: 0 8px 0 8px;
  margin-right: 8px;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
}
.member_page > li:last-child {
  margin-right: 0;
}
.member_page > li:hover {
  background-color: rgb(112, 140, 132);
  color: white;
}
.pageing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}
.page_btn {
  display: block;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(112, 140, 132);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.pageing > label {
  display: inline-block;
  margin-left: 5px;
}

/**** 버튼 ****/
.member_idSearchBtn {
  width: 60px;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(112, 140, 132);
  color: white;
  font-size: 90%;
  border: none;
  vertical-align: top;
}
.member_addMemberBtn,
.member_tableBtns {
  display: block;
  width: 1200px;
  height: auto;
  text-align: right;
}
.member_addMemberBtn > button,
.member_tableBtns > button {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: rgb(112, 140, 132);
  color: white;
  font-size: 90%;
  border: none;
}
.member_idSearchBtn:hover,
.member_addMemberBtn > button:hover,
.member_tableBtns > button:hover {
  box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35);
}
.member_addMemberBtn {
  padding: 15px 0 15px 0;
}
.member_tableBtns {
  padding: 5px 0 15px 0;
}
