@charset "UTF-8";
/* basic setting */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html,
div,
span,
label,
section,
aside,
footer,
header,
nav,
video {
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body ::-webkit-scrollbar, html ::-webkit-scrollbar, div ::-webkit-scrollbar, span ::-webkit-scrollbar, label ::-webkit-scrollbar, section ::-webkit-scrollbar, aside ::-webkit-scrollbar, footer ::-webkit-scrollbar, header ::-webkit-scrollbar, nav ::-webkit-scrollbar, video ::-webkit-scrollbar {
  display: none;
}

a {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:active,
a :hover {
  outline: 0;
  color: white;
}

a:visited {
  text-decoration: none;
}

input,
textarea {
  outline: 0;
  overflow: auto;
}

input:focus,
textarea:focus {
  outline: 0;
}

input[type="reset"], input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

input[type="submit"],
input[type="button"],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

legend {
  border: 0;
  padding: 0;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
}

.clear {
  clear: both;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

/* 섹션 */
.header {
  width: 100%;
  height: 100px;
  line-height: initial;
  background-color: #464646;
  position: relative;
}

.section {
  min-height: 730px;
}

.footer {
  width: 100%;
  height: 100px;
  line-height: initial;
  border-top: 1px solid #464646;
  margin-top: 20px;
}

.wrapper {
  width: 1200px;
  height: auto;
  line-height: initial;
  text-align: center;
  margin: 0 auto;
}

.title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 100%;
  font-weight: 600;
  background-color: #f2f2f2;
}

.title > ul {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 5px;
}

.title > ul > li {
  width: auto;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}

.subTitle {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  text-indent: 10px;
  text-align: left;
}

.subTitle > input,
.subTitle > select {
  height: 25px;
  vertical-align: top;
}

.subTitle > input[type="button"] {
  width: 60px;
  height: 25px;
  line-height: 25px;
  background-color: #708c84;
  color: white;
  font-size: 90%;
  border-radius: 5px;
}

.subTitle > input[type="text"] {
  width: 200px;
  font-size: 90%;
}

.table {
  width: 1200px;
  height: auto;
  line-height: initial;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 100%;
}

.product_thead > tr {
  width: inherit;
  height: 30px;
  line-height: initial;
}

.product_thead > tr > td {
  width: auto;
  height: inherit;
  line-height: initial;
  vertical-align: initial;
  border-radius: 0px;
  background-color: #a6a6a6;
  color: white;
  font-size: 115%;
  font-weight: 400;
  border-right: 1px solid white;
}

.product_thead > tr > td:last-of-type {
  border-right: none;
}

.product_tbody {
  height: auto;
}

.product_tbody > tr {
  width: inherit;
  height: 50px;
  line-height: 50px;
}

.product_tbody > tr > td {
  border: 1px solid #a6a6a6;
}

.product_tbody > tr > td > img {
  width: 100px;
  height: 40px;
  line-height: initial;
  border: none;
}

#productSave {
  width: 100px;
  height: 30px;
  line-height: initial;
  vertical-align: top;
  border-radius: 5px;
  background-color: #708c84;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_title > ul > li:nth-of-type(1) {
  width: 49.5%;
}

.product_title > ul > li:nth-of-type(2) {
  width: 48%;
  text-align: right;
  font-size: 10px;
  font-weight: normal;
}

.inputProductTable {
  text-align: left;
  margin-top: 20px;
}

.inputProductTable > tbody > tr:nth-of-type(1) > td:nth-of-type(1) {
  border-top: #a6a6a6;
}

.inputProductTable > tbody > tr:nth-of-type(2) > td:nth-of-type(2) > input {
  width: 30%;
}

.inputProductTable > tbody > tr:nth-of-type(3) > td:nth-of-type(2) > input {
  width: 70%;
}

.inputProductTable > tbody > tr:nth-of-type(5) > td:nth-of-type(2) > label {
  margin-left: 20px;
}

.inputProductTable > tbody > tr > td {
  text-indent: 5px;
}

.inputProductTable > tbody > tr > td:nth-of-type(1) {
  width: 12%;
  height: 40px;
  background-color: #a6a6a6;
  border: 1px solid white;
  color: white;
}

.inputProductTable > tbody > tr > td:nth-of-type(2) {
  border: 1px solid #a6a6a6;
  width: 88%;
}

.inputProductTable > tbody > tr > td:nth-of-type(2) > input {
  height: 28px;
  margin-right: 10px;
}

.inputProductTable > tbody > .dcNum > td:nth-of-type(2) > label:nth-of-type(2) {
  margin: 0 20px;
}

.inputProductTable > tbody > .ea > td:nth-of-type(2) > label {
  margin-left: 20px;
}

.inputProductTable > tbody > .opt > td:nth-of-type(2) > input {
  margin-left: 5px;
}

.inputProductTable > tbody > .url > td:nth-of-type(2) > input {
  width: 70%;
}

.inputProductTable > tbody > .addImg {
  height: 90px;
}

.inputProductTable > tbody > .addImg > td:nth-of-type(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

.inputProductTable > tbody > .contents > td:nth-of-type(1) {
  border-bottom: #a6a6a6;
}

.inputProductTable > tbody > .contents > td:nth-of-type(2) {
  height: 220px;
}

.inputProductTable > tbody > .contents > td:nth-of-type(2) > textarea {
  width: 99%;
  height: 200px;
  line-height: initial;
}

.product_input_btnBox {
  width: 1200px;
  height: auto;
  line-height: initial;
  display: block;
  text-align: right;
  padding: 15px 0;
}

.product_input_btnBox > button {
  width: 100px;
  height: 30px;
  line-height: initial;
  vertical-align: unset;
  border-radius: 5px;
  background-color: #708c84;
  color: white;
  font-size: 90%;
}
/*# sourceMappingURL=product.css.map */