* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
span,
label {
  display: block;
}
ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  object-fit: cover;
}
.box {
  width: 700px;
  height: 50px;
  border: 1px solid hotpink;
  border-radius: 5px;
  left: 50%;
  margin-left: -350px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  text-align: center;
  padding-top: 4px;
}
/* placeholder 색상 변경 (::placeholder 크롬, 사파리, 엣지, 오페라) */
::placeholder {
  color: hotpink;
}
/*:-ms-input-placeholder : IE전용 placeholder 부분 입니다. */
:-ms-input-placeholder {
  color: hotpink;
}

.lg_id {
  width: 200px;
  height: 40px;
  background-color: pink;
  border: 1px solid hotpink;
  border-radius: 5px;
  text-indent: 5px;
}
.lg_pw {
  width: 200px;
  height: 40px;
  background-color: pink;
  border: 1px solid hotpink;
  border-radius: 5px;
  text-indent: 5px;
}
.btn {
  width: 100px;
  height: 40px;
  border: 1px solid hotpink;
  border-radius: 5px;
  color: hotpink;
  font-weight: bolder;
  cursor: pointer;
}
.olbox {
  height: inherit;
  display: inline-block;
}
.olbox > li {
  float: left;
  margin-left: 5px;
}
/* unset : IE(X) */
@media screen and (min-width: 320px) and (max-width: 560px) {
  .box {
    width: 98%;
    height: 150px;
    left: 1%;
    top: 40%;
    margin: 0;
    padding-top: 10px;
  }
  .olbox {
    width: inherit;
    display: block;
  }
  .olbox > li {
    float: none;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .lg_id,
  .lg_pw,
  .btn {
    width: 95%;
  }
}
