@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Nanum Gothic'}
body{margin: 0; padding: 0; position: relative;}
ol, ul, dl{list-style: none;margin: 0; padding: 0;}
.clear{clear:both;}
span, label main{display: block;}
a{text-decoration: none;}
header{ height: auto;  position: relative;background-color: aliceblue;}
nav{height: auto; }
main{height: auto;}
footer{height: auto;}
img{width: 100%; object-fit: cover;}

.back{width: 1200px; height: auto; position: absolute;  top:0; background-color: blue;  left: 50%; margin-left: -600px;}
.floor{position: absolute; top: 150px; right: 20px; z-index: 30;}
