body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.banners {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.banner_ol {
  height: 500px;
  float: left;
  position: absolute;
}

.banner_ol > li {
  width: 1200px;
  height: 500px;
  float: left;
}

.on {
  position: absolute;
  width: 37px;
  height: 74px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: none;
  outline: none;
  border: none;
  top: 50%;
  margin-top: -37px;
}

.on:last-of-type {
  right: 0;
}

.disc {
  width: auto;
  height: 20px;
  position: absolute;
  bottom: 30px;
  left: 585px;
}

.disc > li {
  float: left;
  width: 20px;
  height: 20px;
  background-color: lightcoral;
  border-radius: 50px;
  margin-left: 10px;
}

.disc > li:first-child {
  width: 60px;
  margin: 0;
  background-color: lightblue;
}
