.top_menu {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.top1 {
  width: 100%;
  height: 70px;
  background-color: none;
}
.top_banner {
  width: 100%;
  height: 70px;
  background-color: none;
  cursor: pointer;
}
.top_banner > li {
  width: 490px;
  height: 70px;
  background-color: none;
  float: left;
}
.top_banner > li:last-child {
  width: 220px;
  position: relative;
}
.top2 {
  background-color: #cccccc;
  width: 100%;
  height: 30px;
  position: relative;
}
.close {
  height: 70px;
  font-size: 25px;
  line-height: 70px;
  position: absolute;
  right: 0;
  font-weight: bold;
  cursor: pointer;
}
.topmenu_right {
  float: right;
  position: absolute;
  font-size: 12px;
  right: 0;
}
.topmenu_right > li {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.topmenu_left {
  font-size: 12px;
  float: left;
  position: absolute;
}
.topmenu_left > li {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-left: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
