@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* 100,300,400,500,700,900 */
*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100%;
  height: auto;
  width: 100%;
  -ms-overflow-style: hidden;
}

* ::-webkit-scrollbar, body ::-webkit-scrollbar {
  display: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer,
header,
main,
section,
label,
span,
aside,
nav {
  display: block;
}

footer,
header,
main,
.categoryMenu {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  height: auto;
}

header {
  height: auto;
}

main {
  height: 2248px;
}

footer {
  height: 455px;
}

section {
  width: 99.99%;
  margin: 0 auto;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#mobile {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  height: "";
  background-color: #eceaea;
  z-index: 1000;
  text-align: center;
  line-height: 300px;
}

.categoryMenu {
  min-width: 320px;
  max-width: 480px;
  z-index: 30;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1000%;
}

.categoryMenu #black {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #0000004d;
  z-index: 10;
}

.categoryMenu .slideMenu {
  display: block;
  width: 90%;
  height: 700px;
  background-color: white;
  position: relative;
  z-index: 20;
}

.joinBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.joinBtn > span {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #eceaea;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 14px;
}

.boardBtn {
  margin-bottom: 20px;
  height: 60px;
}

.boardBtn > ul {
  height: 60px;
  width: 100%;
  text-align: center;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boardBtn > ul > li {
  letter-spacing: normal;
  border: 1px solid black;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boardBtn > ul > li > img {
  display: block;
  width: 20px;
  height: 20px;
}

.boardBtn > ul > li span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: "";
  font-size: 14px;
  color: black;
}

.board {
  padding: 0 10px;
  height: auto;
  display: block;
  width: 100%;
  height: auto;
}

.board > .boardList {
  border: 1px solid black;
  display: "";
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 40px;
  padding: 0 10px;
}

.board > .boardList > .boardTitle {
  position: absolute;
  border: 1px solid black;
  display: block;
  width: 30%;
  height: 40px;
  line-height: 40px;
  top: -20px;
  text-align: center;
  background-color: white;
}

.board > .boardList > ul {
  margin: 30px 0 20px;
}

.board > .boardList > ul > li {
  padding: 0 10px;
  list-style: inside;
  font-size: 14px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board > .boardList > ul > li > span:nth-of-type(1) {
  margin-right: 10px;
  width: 55%;
}

.account {
  padding: 0 10px;
  margin: 20px 0;
  display: block;
  width: 100%;
  height: 60px;
}

.account > div {
  display: block;
  width: inherit;
  height: 60px;
  border: 1px solid black;
}

.account > div > span {
  font-size: 16px;
  width: auto;
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
}

.csCenter {
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 190px;
  text-align: center;
}

.csCenter > ul {
  border: 1px solid black;
  height: 210px;
  padding-left: 20px;
}

.csCenter > ul > li {
  height: 20px;
  text-align: left;
  font-size: 13px;
}

.csCenter > ul > li:nth-of-type(1) {
  margin: 10px 0;
}

.csCenter > ul > li:nth-of-type(2) {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}

.csCenter > ul > li:nth-of-type(5) {
  margin: 10px 0;
}

.csCenter > ul > li:nth-of-type(6) {
  width: 100%;
  margin: 0 -20px 20px 0;
  height: 40px;
  text-align: center;
}

.csCenter > ul > li:nth-of-type(6) > button {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: #eceaea;
}

.csCenter > ul > li:nth-of-type(6) > button > a {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.csCenter > ul > li:nth-of-type(6) > button > a > img {
  width: 20px;
  height: 20px;
}

.topLogo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 99.99%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topLogo > img:nth-of-type(1) {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.topLogo > img:nth-of-type(2) {
  display: block;
  width: auto;
  height: 40px;
}

.topLogo > img:nth-of-type(3) {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.topMenu {
  height: auto;
}

.topMenu > ul {
  text-align: center;
  display: block;
  width: inherit;
  height: 40px;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}

.topMenu > ul > li {
  display: inline-block;
  letter-spacing: normal;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: "";
  font-size: 14px;
  color: black;
  line-height: 40px;
  width: 33.3333333%;
  border: 1px solid #bebebe;
}

.topSearch {
  margin-bottom: -2px;
  display: none;
  width: 100%;
  height: 50px;
}

.topSearch > .searchWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.topSearch > .searchWrapper > input {
  display: block;
  width: 85%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  text-indent: 50px;
}

.topSearch > .searchWrapper > span {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  left: 30px;
  background-color: #b2b2b2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid gray;
}

.topSearch > .searchWrapper > span > img {
  margin: 5px 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: block;
  width: 30px;
  height: 30px;
}

.banner {
  height: 350px;
}

.banner > .bannerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 1px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.banner > .bannerWrapper > span {
  display: block;
  width: 100%;
  height: 350px;
}

.banner > .bannerWrapper > span > img {
  height: 350px;
  width: 100%;
}

.banner > .bannerWrapper > span:nth-of-type(1) {
  position: relative;
  top: 1px;
  left: 0;
}

.banner > .bannerWrapper > span:nth-of-type(2), .banner > .bannerWrapper > span:nth-of-type(3) {
  position: absolute;
  top: 1px;
  left: 0;
}

.eventBanner {
  height: 720px;
  padding: 0;
}

.eventBanner > label {
  width: 99.99%;
  height: 180px;
}

.eventBanner > label:nth-of-type(1), .eventBanner > label:nth-of-type(2) {
  width: 100%;
  height: 180px;
}

.eventBanner > label:nth-of-type(1) > img, .eventBanner > label:nth-of-type(2) > img {
  width: 50%;
  height: 180px;
}

.eventBanner > label:nth-of-type(3), .eventBanner > label:nth-of-type(4) {
  height: 180px;
  width: 100%;
}

.eventBanner > label:nth-of-type(3) > img, .eventBanner > label:nth-of-type(4) > img {
  width: 100%;
  height: 180px;
}

.newpet {
  margin: 20px auto;
  height: 280px;
}

.newpet > .newPetTitle {
  height: 80px;
  text-align: center;
}

.newpet > .newPetTitle > span {
  margin: 0 auto;
  width: 200px;
  height: 40px;
}

.newpet > .newPetTitle > span:nth-of-type(1) {
  font-size: 18px;
  border: 1px solid black;
  border-bottom: 2px solid black;
  line-height: 40px;
}

.newpet > .newPetTitle > span:nth-of-type(2) {
  font-size: 14px;
  word-spacing: -3px;
  margin-bottom: 20px;
}

.newpet .new {
  position: relative;
  top: 50px;
  height: 152px;
}

.newpet .dog {
  position: absolute;
  top: 0;
  height: 152px;
}

.newpet .cat {
  position: absolute;
  top: 0;
  height: 302px;
}

.newpet .dog,
.newpet .cat {
  display: block;
  width: 100%;
  height: auto;
}

.newpet .dog > .dogTitle,
.newpet .dog > .catTitle,
.newpet .cat > .dogTitle,
.newpet .cat > .catTitle {
  position: absolute;
  text-align: center;
  display: block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  top: -49px;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
}

.newpet .dog > .dogTitle,
.newpet .cat > .dogTitle {
  left: 0;
  background-color: white;
}

.newpet .dog > .catTitle,
.newpet .cat > .catTitle {
  left: 140px;
  background-color: transparent;
}

.newpet .dog > .dogProducts,
.newpet .cat > .dogProducts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.newpet .dog > .catProducts,
.newpet .cat > .catProducts {
  display: none;
}

.newpet .dog > .dogProducts,
.newpet .dog > .catProducts,
.newpet .cat > .dogProducts,
.newpet .cat > .catProducts {
  display: "";
  width: 100%;
  height: auto;
  border: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.newpet .dog > .dogProducts > ul,
.newpet .dog > .catProducts > ul,
.newpet .cat > .dogProducts > ul,
.newpet .cat > .catProducts > ul {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}

.newpet .dog > .dogProducts > ul > li,
.newpet .dog > .catProducts > ul > li,
.newpet .cat > .dogProducts > ul > li,
.newpet .cat > .catProducts > ul > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33.33333%;
  height: 150px;
  letter-spacing: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: "";
  font-size: 14px;
  color: black;
}

.newpet .dog > .dogProducts > ul > li > label,
.newpet .dog > .catProducts > ul > li > label,
.newpet .cat > .dogProducts > ul > li > label,
.newpet .cat > .catProducts > ul > li > label {
  height: 130px;
  width: 100%;
  margin: auto 0;
}

.newpet .dog > .dogProducts > ul > li > label > img,
.newpet .dog > .catProducts > ul > li > label > img,
.newpet .cat > .dogProducts > ul > li > label > img,
.newpet .cat > .catProducts > ul > li > label > img {
  width: 100px;
  height: 100px;
}

.newpet .dog > .dogProducts > ul > li > label > span,
.newpet .dog > .catProducts > ul > li > label > span,
.newpet .cat > .dogProducts > ul > li > label > span,
.newpet .cat > .catProducts > ul > li > label > span {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.bestproduct {
  margin-bottom: 20px;
}

.bestproduct > .bestProductTitle {
  text-align: center;
  margin-bottom: 20px;
}

.bestproduct > .bestProductTitle > span {
  display: block;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}

.bestproduct > .bestProductTitle > span:nth-of-type(1) {
  font-size: 18px;
  border: 1px solid black;
  border-bottom: 2px solid black;
  line-height: 40px;
}

.bestproduct > .bestProductTitle > span:nth-of-type(2) {
  font-size: 14px;
  word-spacing: -3px;
  margin-bottom: 20px;
}

.bestproduct > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: #eceaea;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bestproduct > div .bestProductWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 170px;
  padding: 10px 20px;
}

.bestproduct > div .bestProductWrapper span > img {
  width: 150px;
  height: 150px;
}

.bestproduct > div .bestProductWrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  width: inherit;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.bestproduct > div .bestProductWrapper > div > span:nth-of-type(1) {
  font-size: 16px;
  font-weight: bold;
}

.bestproduct > div .bestProductWrapper > div > span:nth-of-type(2) {
  font-size: 11px;
}

.bestproduct > div .bestProductWrapper > div > span:nth-of-type(3) {
  font-size: 14px;
  font-weight: bold;
}

.productBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  padding: 0 10px 10px;
}

.productBtn > div {
  width: 100%;
}

.productBtn > div:nth-of-type(1), .productBtn > div:nth-of-type(2) {
  display: "";
  width: 90px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  background-color: #e6e6e6;
  border-radius: 30px;
  cursor: pointer;
}

.intro {
  width: 100%;
  height: 188px;
}

.intro > img {
  width: 100%;
}

.introIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 50px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 20px;
}

.introIcon > div {
  width: 50px;
  height: 50px;
}

.introIcon > div > a {
  cursor: pointer;
}

.review {
  margin: 20px 0;
}

.review > div {
  background-color: #e6e6e6;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  width: 100%;
  height: 40px;
}

.review > div > label:nth-of-type(1) {
  height: 40px;
  width: 20%;
  padding-right: 10px;
}

.review > div > label:nth-of-type(2) {
  width: 60%;
}

.review > div > label:nth-of-type(2) > span {
  font-size: 14px;
}

.review > div > label:nth-of-type(3) {
  display: "";
  width: 45px;
  height: 20px;
  background-color: #7f7f7f;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 20px;
  line-height: 20px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.review > div > label:nth-of-type(3) > img {
  display: "";
  width: 60%;
  height: inherit;
}

.quickMenu > ul {
  text-align: center;
  display: "";
  width: inherit;
  height: 40px;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}

.quickMenu > ul > li {
  display: inline-block;
  letter-spacing: normal;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: "";
  font-size: 14px;
  color: black;
  line-height: 40px;
  width: 33.3333333%;
  border: 1px solid #bebebe;
}

.bottom {
  padding: 20px 0;
}

.bottom .policy {
  margin-bottom: 20px;
}

.bottom .policy > ul {
  text-align: center;
  display: "";
  width: 100%;
  height: 30px;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}

.bottom .policy > ul > li {
  display: contents;
  letter-spacing: normal;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: "";
  font-size: 12px;
  color: black;
  line-height: 30px;
  cursor: pointer;
  height: 30px;
}

.bottom .policy > ul > li:nth-of-type(1)::after {
  content: "\00a0\00a0|\00a0\00a0";
}

.bottom .policy > ul > li:nth-of-type(2)::after {
  content: "\00a0\00a0|\00a0\00a0";
}

.bottom .policy > ul > li:nth-of-type(3)::after {
  content: "\00a0\00a0|\00a0\00a0";
}

.koLogo {
  display: "";
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.koLogo > img {
  display: block;
  width: auto;
  height: 30px;
  margin: 0 auto;
}

.copyright {
  margin-bottom: 20px;
}

.copyright > ul {
  text-align: center;
  font-size: 12px;
  color: gray;
}

.floorBtnSection {
  display: block;
  width: 99.99%;
  height: 40px;
}

.floorBtnSection > #scrollTop {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  right: 10px;
}

.floorBtnSection > #scrollTop > img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
/*# sourceMappingURL=index.css.map */