body {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.banner {
    margin: 0 auto;
    width: 1000px;
    height: 490px;
    overflow: hidden;
    position: relative;
}

.img_ol {
    height: 490px;
    position: absolute;
}

.img_ol>li {
    width: 1000px;
    height: 490px;
    float: left;
}

.disc_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 450px;
    width: 100px;
    box-sizing: border-box;
}

.disc_ul>li {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: black;
    display: inline-block;
    margin-right: 4px;
}

.disc_ul>li:nth-child(1) {
    background-color: red;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 220px;
}

.btn:focus {
    outline: none;
}

.right {
    right: 0;
}