@charset "UTF-8";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
span,
label {
  display: block;
}
ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  object-fit: cover;
}
/* object-fit : (모바일 전용)-IE(X)
이미지 너비와 높이에 대한 크기를 자동으로 조절하는
기능을 가지고 있습니다.
*/
.top {
  display: none;
}
.m_menu {
  display: none;
}
.g_box {
  display: block;
  height: 30px;
  background-color: gray;
}
.m_box {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}
.topmenu {
  height: 30px;
  float: right;
}

.topmenu > li {
  float: left;
  color: white;
  width: 80px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  position: relative;
}
.topmenu > li:after {
  /* before, after : 해당 오브젝트 앞 또는 뒤 content를 이용해서
       문구 또는 이미지를 추가 할 수 있습니다. 단, 해당 오브젝트에
       위치를 설정할 경우 position을 설정 하시면 
       편하게 표준화를 만들 수 있습니다.
    */
  content: "|";
  position: absolute;
  right: 0;
}

.topmenu > li:last-child:after {
  /* li의 마지막 노드에는 content를 사용하지 않음*/
  content: "";
}
.menus {
  display: block;
  height: 150px;
  background-color: #141414;
}
.divlogo {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  text-align: center;
}
.logo {
  width: 250px;
  height: 150px;
  display: inline-block; /*margin:0 auto 안먹음*/
  line-height: 150px;
}
.logo > img {
  vertical-align: middle;
}
.main {
  height: 800px;
  background-color: #141414;
}

/* 모바일 css */
/* 반응형 사이트 제작시 주의사항
PC에서 사용되는 태그를 모두 사용하지는 않으며, display : none, block
media쿼리에서 제어가 되도록 표시를 필수적으로 적용하게 됩니다.
*/

@media screen and (min-width: 320px) and (max-width: 560px) {
  .g_box {
    display: none;
  }
  .menus {
    display: none;
  }
  .top {
    display: block;
    height: 60px;
    background-color: black;
  }
  .m_top {
    display: block;
    width: 100%;
    height: inherit;
    position: relative;
  }
  .leftbtn {
    width: 30px;
    height: 60px;
    display: inline-block;
    position: absolute;
    left: 5px;
  }
  .rightbtn {
    width: 30px;
    height: 60px;
    display: inline-block;
    position: absolute;
    right: 5px;
  }
  .logobtn {
    width: 120px;
    height: 60px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -60px;
  }
  .m_top > label {
    line-height: 60px;
  }
  .m_top > label > img {
    vertical-align: middle;
  }
  .m_menu {
    display: block;
    width: 0px;
    height: 400px;
    background-color: purple;
  }
}
