@viewport {
    width: divice-width;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper {
    width: 1000px;
    height: 400px;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 50px;
}

.join {
    margin: 20px 0px 20px 20px;
    font-weight: bold;
    font-size: 14px;
}

.joinForm {
    width: 900px;
    height: 240px;
    box-sizing: border-box;
    margin: 0;
}

td>.btn {
    width: 100px;
    height: 40px;
    background-color: #0067b8;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
}

table {
    border: 1px solid #0067b8;
    box-sizing: border-box;
    height: 240px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

tr>td:first-child {
    width: 120px;
    height: 40px;
    font-weight: bold;
    color: #333333;
    border-right: 2px solid gray;
    text-align: center;
    box-sizing: border-box;
}

td {
    height: 40px;
}

.input>input,
.inputB>input {
    margin-left: 10px;
}

.input>input {
    width: 200px;
    height: 30px;
    padding: 0;
}

tr:not(:last-child) {
    border-bottom: 1px solid #0067b8;
}

.inputB>input {
    width: 400px;
    height: 30px;
    padding: 0;
}

.radio {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button>input {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    margin: 50px;
}

.button>.btn2:first-of-type {
    background-color: #0067b8;
    color: #ffffff;
}

.button>.btn2:last-of-type {
    background-color: #aaaaaa;
    color: #ffffff;
}