<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style></style>
    <title>Vue 사용자 입력 값을 실시간 출력 [응용파트]</title>
  </head>
  <body>
    <section id="box">
      <!-- <input type="text" v-model="msg" /> <== 사용자 입력값을 "msg" Value 값으로 넣음 -->
      <select v-model="msg">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <span class="a">{{msg}}</span> <== 입력값 바로 입력
    </section>
  </body>
  <script>
    let a = new Vue({
      el: '#box',
      data: {
        msg: '',
      },
      methods: {},
    })
  </script>
</html>
