<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>파라미터 뷰 vue</title>
    <style>
      /*
        css style 사용 방식 구분 ?????

        inline방식 : 태그에 style을 쓰는 것.
        임베디드 : <style>태그에 분리해 사용.
        파일링크(external style) : css시트 분리해 사용.
         */
    </style>
  </head>
  <body>
    <section id="box">
      <ul style="width: 300px; height: 40px; border: 1px solid black">
        <li v-if="m" v-on:click="abc">{{msg1}}</li>
        <!-- v-if 사용하는 이유는 함수에 인자값을 사용해 컨트롤한 js와 달리 인자값 없이도 if문으로 사용이 가능하다. 
            Vue만의 독창적인 형태. -->
        <li v-else v-on:click="abc">{{msg2}}</li>
      </ul>
    </section>
    <section id="box2">
      <ul style="width: 300px; height: 40px; border: 1px solid red">
        <li v-if="views && z==1" v-on:click="ccc">{{msg1}}</li>
        <li v-else-if="views && z==2" v-on:click="ccc">{{msg2}}</li>
        <li v-else v-on:click="ccc">{{msg3}}</li>
        <!-- &&, || 를 이용해 v-if문에 조건을 추가할 수 있다. 논리 연산자는 여러개 추가 가능! 확장성있는 v-if조건을 제작할 수 있음 -->
      </ul>
    </section>
    종속형 시트를 사용해본적 있습니까? 네...?
  </body>
  <script>
    let a = new Vue({
      el: "#box1",
      data: {},
      methods: {
        abc: function () {
          //클릭 시 m의 값 == true를 !true 즉 false로 변경함.
          this.m = !this.false;
        },
      },
    });
    let a = new Vue({
      el: "#box2",
      data: {
        msg1: "쌤의 개그",
        msg2: "서울에 산이 없대",
        msg3: "서울 산업대가 있어서",
        z: 1, //  v-if
      },
      methods: {
        ccc: function () {
          this.z++;
          if (this.z > 3) {
            this.z = 1;
          }
        },
      },
    });
  </script>
</html>
