/* 반응형*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .mv_page {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 5px;
    }

    video {
        width: 100%;
        height: auto;
    }

    .grid_left,
    .grid_right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .logo>img {
        width: 50%;
        height: auto;
    }

    .text {
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
    }

    .info {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info>dl {
        width: 90%;
    }

    .info>dl>dt {
        font-size: 13px;
        font-weight: normal;
        width: 100%;
        margin: 0;
    }

    .info>dl>dt:nth-child(2) {
        font-size: 15px;
    }

    .info>dl>dd {
        margin: 10px 0;
    }

    .info>dl>dd>input {
        height: 30px;
        font-size: 15px;
    }

    .info_check {
        margin-bottom: 10px;
    }

    .info_check>input {
        width: 10px;
        height: 10px;
    }

    .info_btn>input {
        height: 30px;
    }
}