@import url("./font.css");
*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100%;
  height: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
label,
span,
footer,
main,
aside,
nav,
header {
  display: block;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc {
  width: 150px;
  height: 50px;
  border: 1px solid #ccc;
  display: block;
  overflow: hidden;
}

.sc > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#mfrm {
  width: 100%;
  height: auto;
  font-weight: 300;
  text-align: center;
}

#mfrm section {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

#mfrm table {
  width: 100%;
  height: auto;
  display: table;
  text-align: left;
  border-spacing: 0;
  border: 1px solid #cccccc;
}

#mfrm > input[type="button"] {
  width: 180px;
  height: 60px;
  background-color: dimgray;
  color: white;
  margin: 20px 0;
  outline: none;
  border: none;
  cursor: pointer;
}

td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: 50px "";
          flex-flow: 50px "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  line-height: 50px;
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #cccccc;
  border-bottom: none;
}

.title > li:nth-of-type(1) {
  width: 50px;
  height: 50px;
  display: inherit;
}

.title > li:nth-of-type(1) > img {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}

.title > li:nth-of-type(2) {
  text-align: left;
}

.title > li:nth-of-type(2) > span {
  width: 100%;
  height: 50px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

table > .table_body tr {
  width: 300px;
}

table > .table_body tr > td:nth-of-type(1),
table > .table_body tr > .passCheck {
  width: 120px;
  height: 50px;
  display: table-cell;
  text-align: right;
  font-weight: bold;
}

table > .table_body tr > td:nth-of-type(2) {
  padding-left: 10px;
  font-size: 13px;
  width: 300px;
}

table > .table_body tr > td:nth-of-type(2) > input {
  height: 30px;
}

table > .table_body tr > td:nth-of-type(2) > input:nth-of-type(2) {
  background-color: dimgray;
  outline: none;
  border: none;
  color: white;
  width: 100px;
}

table > .table_body tr > td:nth-of-type(2) > input[type="email"] {
  width: 60%;
}

table > .table_body tr > td:nth-of-type(2) > .inputs {
  width: 280px;
}

table > .table_body tr > td:nth-of-type(2) > #M_post {
  width: 100px;
}

table > .table_body tr > td:nth-of-type(2) > .addr {
  width: 80%;
}

table > .table_body tr > td:nth-of-type(4) > .passipck {
  margin-left: 10px;
  width: 280px;
  height: 30px;
}

table > .table_body tr > .notice {
  vertical-align: top;
  font-size: 12px;
  color: gray;
  position: relative;
  top: -7px;
}

.setting_table > .table_body tr > td:nth-of-type(2) {
  width: inherit;
  height: 50px;
  display: table-cell;
}

.setting_table > .table_body tr > td:nth-of-type(2) > div {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting_table > .table_body tr > td:nth-of-type(2) > div > input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.setting_table > .table_body tr > td:nth-of-type(2) > div > img:last-child {
  width: 38px;
  height: 38px;
}

.setting_table > .table_body tr > td:nth-of-type(3) > input {
  width: 180px;
  height: 30px;
  text-indent: 5px;
}

.setting_table > .table_body > tr:nth-of-type(4) > .notice {
  top: -13px;
}

.setting_table > .table_body > tr:last-of-type > .notice {
  top: 0;
}
/*# sourceMappingURL=add_member.css.map */